<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
       <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div v-if="contacts.length == 10" id="root" class="container">
            <!-- inserisco condizione per far comparire {{email}} solo quando inserisco un valore(quindi solo dopo che ho ricevuto una risposta) -->
            <div class="contacts_box">
                <!-- ....................alls contacts................... -->

                    <ul class="contacts">
                        <li
                            v-for="(contact, i) in contacts"
                            class="contact_row"
                        >
                            <div class="button_box">
                                <button @click="isTrue_mail(i)" type="button" name="button">Mostra email</button>
                                <button @click="isTrue_phone(i)" type="button" name="button">Mostra telefono</button>
                            </div>

                            <div class="name_box">
                                {{contact.name.response}}
                            </div>
                            <div v-if="contact.mail.success" class="mail_box">
                                {{contact.mail.response}}
                            </div>
                            <div v-if="contact.phone.success" class="phone_box">
                                {{contact.phone.response}}
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
